
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII" />
<title>Profile</title>
<body>
	<a href="/">Home</a>
	<br></br>
	<form action="#" th:action="@{/profile}" th:object="${account}"
		method="post">
		<table>
			<tr>
				<td>Username:</td>
				<td th:text="${user.username}"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td th:text="${user.email}"></td>
			</tr>
			<tr>
				<td>Bio:</td>
				<td><textarea rows="10" cols="50" th:text="${user.bio}"
						th:field="*{bio}"></textarea></td>
			</tr>
			<tr>
				<td>Age:</td>
				<td><input type="number" min="0" max="99" required="required"
					th:value="${user.age}" id="age" name="age" /></td>
			</tr>
			<tr>
				<td>Tags:</td>
				<td><input type="text" multiple="multiple" pattern="([a-zA-Z0-9]+)(,\s*[a-zA-Z0-9]+)*$" th:value="${taglist}"
					id="tags" name="tags" /></td>
			</tr>
			<tr>
				<td><input value="Update User Info" type="submit" /></td>
			</tr>
		</table>
	</form>
</body>
</html>