<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII" />
<title>Search</title>
<a href="/">Home</a>
<body>
	<form action="#" th:action="@{/search}" method="post">
		<table>
			<tr th:each="tag : ${user.tags}">
				<td><input type="checkbox" checked="checked" name="tagList"
					th:value="${tag}"></input> <span th:text="${tag}"></span></td>
			</tr>
			<tr>
				<td><input value="Search" type="submit" /></td>
			</tr>
		</table>
	</form>
	<table>
		<tr th:each="user : ${users}">
			<td th:text="${user.username}"></td>
			<td th:each="tag : ${user.tags}" th:text="${tag}"></td>
		</tr>
	</table>
</body>
</html>